<div class="a32nx-thrust a32nx-instrument text-center">
  <div class="row g-0">
    <div class="col"><label class="a32nx">THRUST</label></div>
  </div>
  <div class="row g-0">
    <div class="col">
      <label class="input"><input type="checkbox" [(ngModel)]="properties.locked" /><span>Lock</span></label>
    </div>
  </div>
  <div class="row g-0">
    <div class="col position-relative">
      <button class="a32nx-button small two-line btn-togo" (click)="updateValue(100)">
        <div>TO</div>
        <div>GA</div>
      </button>
      <button class="a32nx-button small two-line btn-flex" (click)="updateValue(85)">
        <div>FLX</div>
        <div>MCT</div>
      </button>
      <button class="a32nx-button small btn-climb" (click)="updateValue(70)">
        <div>CL</div>
      </button>
      <button class="a32nx-button small btn-idle" (click)="updateValue(0)">
        <div>IDLE</div>
      </button>
      <button class="a32nx-button small btn-full-reverse" (click)="updateValue(-25)">
        <div>REV</div>
      </button>
    </div>
    <div class="col">
      <input
        type="range"
        orient="vertical"
        class="lever"
        min="{{ properties.minValue }}"
        max="{{ properties.maxValue }}"
        [(ngModel)]="properties.value1"
        (ngModelChange)="rangeValue1Changed($event)"
        list="rangeDetents"
      />
    </div>
    <div class="col">
      <input
        type="range"
        orient="vertical"
        class="lever"
        min="{{ properties.minValue }}"
        max="{{ properties.maxValue }}"
        [(ngModel)]="properties.value2"
        (ngModelChange)="rangeValue2Changed($event)"
        list="rangeDetents"
      />
    </div>
    <datalist id="rangeDetents">
      <option value="0"></option>
      <option value="80"></option>
      <option value="90"></option>
    </datalist>
  </div>
</div>
