<h1>Virtual Cockpit Homepage</h1>

<p>A quick and dirty project to server Microsoft Flight Simulator (MSFS) cockpits to local or remote machines.</p>

<p>Find the source code on GitHub <a href="https://github.com/alanleouk/virtual-cockpit">virtual-cockpit</a></p>

<h2>Quick Setup (WIP)</h2>

<p>
  Install the <a href="assets/WASM_HABI.7z">WASM driver</a> in MSFS. See
  <a href="https://www.howtogeek.com/357846/what-is-a-7z-file-and-how-do-i-open-one/" target="_blank">What Is A 7Z File (And How Do I Open One)?</a>
</p>
<p>Load the <a href="https://vcockpit.osz.one" target="_blank">virtual cockpit</a> web application.</p>
<p>Run the <a href="assets/vcockpit-host.7z">virtual cockpit host</a> application on machine that is running MSFS.</p>
<p>
  Configure the windows hosts file to resolve 'vcockpit-host.osz.one' to the host machine IP on the client running the cockpit. See
  <a href="https://www.howtogeek.com/117371/how-to-find-your-computers-private-public-ip-addresses/" target="_blank"
    >How to Find Your Private and Public IP Addresses</a
  >
  and
  <a href="https://www.howtogeek.com/howto/27350/beginner-geek-how-to-edit-your-hosts-file/" target="_blank"
    >How to Edit Your Hosts File on Windows, Mac, or Linux</a
  >.
</p>

<h2>Advanced Setup (TODO)</h2>

<p>Document how to run the host and application using your own certificates and servers.</p>

<p>TODO: New Addresses: https://vcockpit-local.osz.one:4444 for app https://vcockpit-local.osz.one:4445 for host</p>
