body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

table {
  width: 100%;

  thead {
    th {
      text-align: left;
    }
  }

  tbody {
    td {
      text-align: left;
    }
  }
}

.instrument {
  .title {
    font-weight: bold;
    font-size: 12px;
    color: #000;
  }

  .values {
    font-weight: bold;
  }

  .commands {
    button {
      padding: 2px 6px;
      margin: 1px;
      font-size: 9px;

      background-color: lightsteelblue;
      border: 1px solid gray;
      border-radius: 4px;
      cursor: pointer;

      &.active {
        background-color: lightgreen;
      }
    }

    button:hover {
      background-color: white;
    }
  }
}

.gauge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.rows {
    flex-direction: row;
  }

  &.columns {
    flex-direction: column;
  }
}

.gauge-slot {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px;
  flex-direction: row;

  &.medium {
    width: 300px;
    height: 300px;
  }
}

.a32nx-button {
  display: inline-block;
  background-color: #000;
  border: 1px solid #333;
  border-radius: 3px;
  width: 52px;
  height: 52px;
  text-align: center;

  &:hover {
    background-color: #333;
    cursor: pointer;
  }

  .feedback {
    width: 40px;
    height: 16px;
    background-color: #333;
    border: 1px solid #666;
    border-radius: 3px;
    margin: 3px 5px;

    &.red {
      background-color: #f00;
    }
    &.amber {
      background-color: #f90;
    }
    &.green {
      background-color: #0f0;
    }
  }

  .label {
    padding: 3px 0;
  }
}
