<div class="a32nx-rudder-trim a32nx-instrument text-center">
  <div class="row g-0">
    <div class="col">
      <div class="a32nx-lcd">TRIM VALUE</div>
    </div>
    <div class="col"><label class="a32nx">RUDDER TRIM</label></div>
  </div>
  <div class="row g-0">
    <div class="col">
      <button class="a32nx-button nofeedback"><div class="label">LEFT</div></button>
    </div>
    <div class="col">
      <button class="a32nx-button nofeedback"><div class="label">RESET</div></button>
    </div>
    <div class="col">
      <button class="a32nx-button nofeedback"><div class="label">RIGHT</div></button>
    </div>
  </div>
</div>
