<div class="a32nx-fcu a32nx-instrument text-center">
  <div class="row g-0">
    <div class="col col-6">
      <div class="a32nx-lcd">
        <div class="row">
          <div class="col">
            <div>SPD</div>
            <div>VALUE</div>
          </div>
          <div class="col">
            <div>HDG</div>
            <div>VALUE</div>
          </div>
          <div class="col">
            <div>LAT</div>
          </div>
          <div class="col">
            <div>HDG</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="a32nx-lcd">
        <div class="row">
          <div class="col">
            <div>V/S</div>
          </div>
          <div class="col">
            <div>ALT</div>
            <div>VALUE</div>
          </div>
          <div class="col">
            <div>LVL/CH</div>
          </div>
          <div class="col">
            <div>V/S</div>
            <div>VALUE</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col col-5">
      <div class="row g-0">
        <div class="col col-6">SPD KNOB</div>
        <div class="col col-6">HDG KNOB</div>
      </div>
    </div>
    <div class="col col-2">
      <div class="row g-0">
        <div class="col">
          <div class="a32nx-button" (click)="(null)">
            <div class="feedback {{ properties.ap1Color }}"></div>
            <div class="label">AP1</div>
          </div>
        </div>
        <div class="col">
          <div class="a32nx-button" (click)="(null)">
            <div class="feedback {{ properties.ap2Color }}"></div>
            <div class="label">AP2</div>
          </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="col">
          <div class="a32nx-button" (click)="(null)">
            <div class="feedback {{ properties.athrColor }}"></div>
            <div class="label">A/THR</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-5">
      <div class="row g-0">
        <div class="col col-6">ALT KNOB</div>
        <div class="col col-6">V/S KNOB</div>
      </div>
    </div>
  </div>
</div>
