<div class="a32nx-speed-brakes a32nx-instrument">
  <div class="row g-0 text-center">
    <div class="col"><label class="a32nx">SPEED BRAKES</label></div>
  </div>
  <div class="row g-0 text-center">
    <div class="col d-flex flex-column align-items-center">
      <button class="a32nx-button" (click)="setSpoilersArmed()">
        <div class="feedback" [ngClass]="{ green: properties.armed }"></div>
        <div class="label">ARMD</div>
      </button>
      <button class="a32nx-button" (click)="updateValue(0)">
        <div class="feedback" [ngClass]="{ green: properties.value >= 0 }"></div>
        <div class="label">NONE</div>
      </button>
      <button class="a32nx-button" (click)="updateValue(0.25 * properties.maxValue)">
        <div class="feedback" [ngClass]="{ green: properties.value >= 0.25 * properties.maxValue }"></div>
        <div class="label">0.25</div>
      </button>
      <button class="a32nx-button" (click)="updateValue(0.5 * properties.maxValue)">
        <div class="feedback" [ngClass]="{ green: properties.value >= 0.5 * properties.maxValue }"></div>
        <div class="label">0.50</div>
      </button>
      <button class="a32nx-button" (click)="updateValue(0.75 * properties.maxValue)">
        <div class="feedback" [ngClass]="{ green: properties.value >= 0.75 * properties.maxValue }"></div>
        <div class="label">0.75</div>
      </button>
      <button class="a32nx-button" (click)="updateValue(properties.maxValue)">
        <div class="feedback" [ngClass]="{ green: properties.value === properties.maxValue }"></div>
        <div class="label">FULL</div>
      </button>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <button class="a32nx-button mb-2" (click)="setSpoilersArmed()">
        <div class="feedback" [ngClass]="{ green: properties.armed }"></div>
        <div class="label">ARMD</div>
      </button>
      <input
        type="range"
        orient="vertical"
        class="lever"
        min="0"
        max="{{ properties.maxValue }}"
        [(ngModel)]="properties.rangeValue"
        (ngModelChange)="rangeValueChanged($event)"
      />
    </div>
  </div>
</div>
